@model IEnumerable<FlowPanelApp.Models.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Studenci</h1>

<p>
    <a asp-action="Create">
        <div class="float-right" style="padding: 10px">
            <input type="button" class="btn btn-primary" value="Dodaj nowego Studenta" />
        </div>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Imie
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                Wiek
            </th>
            <th>
                Pesel
            </th>
            <th>
                Adres
            </th>          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pesel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td style="vertical-align:middle;">
                <div class="float-right" style="padding: 5px">
                    <input type="button" class="btn btn-info" value="Edytuj" onclick="location.href='@Url.Action("Edit", "Student", new { studentId=item.StudentId })'" />
                </div>
                <div class="float-right" style="padding: 5px">
                    <input type="button" class="btn btn-secondary" value="Klasy" onclick="location.href='@Url.Action("StudentDetails", "Student", new { studentId=item.StudentId })'" />
                </div>
            </td>          
        </tr>
}
    </tbody>
</table>
