@model IEnumerable<FlowPanelApp.Models.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />

</head>

<div class="return-section">
    <div>
        <h1>Studenci</h1>
    </div>
    <div class="float-right" style="padding: 5px">
        <button class="btn btn-secondary comeback-btn" onclick="location.href='@Url.Action("Index", "Classes")'">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
    </div>
</div>

<p>
    <a asp-action="Create">
        <div class="float-left" style="padding-bottom: 5px;">
            <input type="button" class="btn btn-primary" value="Dodaj nowego Studenta" />
        </div>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Imie
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                Wiek
            </th>
            <th>
                Pesel
            </th>
            <th>
                Adres
            </th>          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pesel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td style="vertical-align:middle;">
                    <div class="float-right" style="padding: 5px">
                        <button class="btn btn-danger comeback-btn" onclick="location.href='@Url.Action("StudentDetails", "Student", new { studentId=item.StudentId })'">
                            <i class="fa-solid fa fa-calendar-days"></i>
                        </button>
                    </div>
                <div class="float-right" style="padding: 5px">
                    <button class="btn btn-info comeback-btn" onclick="location.href='@Url.Action("Edit", "Student", new { studentId=item.StudentId })'">
                        <i class="fa-solid fa fa-pencil"></i>
                    </button>
                </div>
                <div class="float-right" style="padding: 5px">
                    <button class="btn btn-success comeback-btn" onclick="location.href='@Url.Action("StudentDetails", "Student", new { studentId=item.StudentId })'">
                        <i class="fa-solid fa fa-file-lines"></i>
                    </button>
                </div>
            </td>          
        </tr>
}
    </tbody>
</table>
<style>
    .return-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .comeback-btn {
        border-radius: 50%;
    }
</style>
