@model IEnumerable<FlowPanelApp.Models.School>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />

</head>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <span class="text-danger">
        @ViewBag.Message
    </span>
}

<h1>Szkoły</h1>

<p>
    <a asp-action="CreateSchool">
        <div class="float-left" style="padding-bottom: 5px;">
            <input type="button" class="btn btn-primary" value="Dodaj nową szkołę"/>
        </div>
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa szkoły
            </th>
            <th>
                Adres szkoły
            </th>
            <th>
                Logo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td style="vertical-align:middle;">
                @Html.DisplayFor(modelItem => item.SchoolName)
            </td>
            <td style="vertical-align:middle;">
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td style="vertical-align:middle;">
                    @{
                        string base64Image = Convert.ToBase64String(item.Logo);
                        <img src="data:image/png;base64, @base64Image" width="80" />
                    }              
            </td>
            <td style="vertical-align:middle;">                  
                <div class="float-right" style="padding: 5px">
                    <button class="btn btn-info comeback-btn" onclick="location.href='@Url.Action("EditSchool", "School", new { SchoolId=item.SchoolId })'">
                        <i class="fa-solid fa fa-pencil"></i>
                    </button>
                </div>
                <div class="float-right" style="padding: 5px">
                    <button class="btn btn-success comeback-btn" onclick="location.href='@Url.Action("SchoolDetails", "School", new { SchoolId=item.SchoolId })'">
                        <i class="fa-solid fa fa-file-lines"></i>
                    </button>
                </div>                     
            </td>
        </tr>
    }
    </tbody>
</table>
<style>
    .return-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .comeback-btn {
        border-radius: 50%;
    }
</style>
