@model IEnumerable<FlowPanelApp.Models.School>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <span class="text-danger">
        @ViewBag.Message
    </span>
}

<h1>Schools</h1>

<p>
    <a asp-action="CreateSchool">
        <div class="float-right">
            <input type="button" class="btn btn-primary" value="Create school"/>
        </div>
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SchoolName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="vertical-align:middle;">
                @Html.DisplayFor(modelItem => item.SchoolName)
            </td>
            <td style="vertical-align:middle;">
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td style="vertical-align:middle;">
                    @{
                        string base64Image = Convert.ToBase64String(item.Logo);
                        <img src="data:image/png;base64, @base64Image" width="80" />
                    }              
            </td>
            <td style="vertical-align:middle;">
                    @Html.ActionLink("Edit", "EditSchool", new { SchoolId=item.SchoolId }) |
                    @Html.ActionLink("Details", "SchoolDetails", new { SchoolId=item.SchoolId })         
            </td>
        </tr>
}
    </tbody>
</table>
