@model IEnumerable<FlowPanelApp.Models.ClassModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Klasy</h1>

<p>
    <a asp-action="Create">
        <div class="float-right">
            <input type="button" class="btn btn-primary" value="Dodaj nową klasę" />
        </div>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa klasy
            </th>
            <th>
                Nazwa szkoły
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.school.SchoolName)
            </td>
            <td>

            </td>
            <td>
                    @Html.ActionLink("Edytuj", "Edit", new { ClassId=item.ClassId }) |
                    @Html.ActionLink("Lista studentów", "ClassDetails", new { ClassId=item.ClassId }) |
                <a asp-action="Delete" asp-route-id="@item.ClassId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
