@model FlowPanelApp.Models.StudentCalendar.CreateLessonViewModel.CreateLessonViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />

</head>
<body>
    <div class="return-section">
        <div>
            <h1>Edytuj lekcję</h1>
        </div>
        <div class="float-right" style="padding: 5px">
            <button class="btn btn-secondary comeback-btn" onclick="location.href='@Url.Action("Index", "Calendar")'">
                <i class="fa-solid fa-arrow-left"></i>
            </button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="UpdateLesson">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Lesson.LessonId" />
                <div class="form-group">
                    <label class="control-label">Dzień</label>
                    <select asp-for="Lesson.Day" class="form-control">
                        @foreach (var day in Enum.GetValues(typeof(DayOfWeek)))
                        {
                            <option value="@day">@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetDayName((DayOfWeek)day)</option>
                        }
                    </select>
                    <span asp-validation-for="Lesson.Day" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Początek zajęć</label>
                    <input asp-for="Lesson.StartTime" type="time" class="form-control" />
                    <span asp-validation-for="Lesson.StartTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Koniec zajęć</label>
                    <input asp-for="Lesson.EndTime" type="time" class="form-control" />
                    <span asp-validation-for="Lesson.EndTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Przedmiot</label>
                    <select asp-for="Lesson.NameOfSubject" class="form-control">
                        <option selected="@Model.Lesson.NameOfSubject">@Model.Lesson.NameOfSubject</option>
                        @foreach (var course in Model.Courses)
                        {                           
                            if (Model.Lesson.NameOfSubject != course)
                            {
                                <option value="@course">@course</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="Lesson.NameOfSubject" class="text-danger"></span>
                </div>
                <div class="form-group">                  
                    <input type="submit" value="Zapisz" class="btn btn-primary" />                                       
                </div>              
            </form>
            <div class="float-left" style="padding: 5px">
                <button class="btn btn-danger comeback-btn" onclick="location.href='@Url.Action("DeleteLesson", "Calendar", new { lessonId=Model.Lesson.LessonId })'">
                    <i class="fa-solid fa fa-trash"></i>
                </button>
            </div>
        </div>
    </div>
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    .comeback-btn {
        border-radius: 50%;
    }

    .return-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>