@model FlowPanelApp.Models.StudentCalendar.Calendar

@{
    ViewData["Title"] = "Plan zajęć";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@functions {
    int GetAdjustedDay(DayOfWeek day)
    {
        // Dostosuj numerację dni zgodnie z planem zajęć
        return ((int)day + 6) % 7 + 1; 
    }
}
<head>
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
   
</head>
<body>
    <div class="return-section">
        <div>
            <h1>Plan lekcji</h1>
        </div>
        <div class="float-right" style="padding: 5px">
            <button class="btn btn-secondary comeback-btn" onclick="location.href='@Url.Action("Index", "Student")'">
                <i class="fa-solid fa-arrow-left"></i>
            </button>
        </div>
    </div>

    <p>
        <a asp-action="Create">
            <div class="float-left" style="padding-bottom: 5px;">
                <input type="button" class="btn btn-primary" value="Dodaj nową lekcję" />
            </div>
        </a>
    </p>

        
    <table>
        <thead>
            <tr>
                <th>Godzina</th>
                <th>Poniedziałek</th>
                <th>Wtorek</th>
                <th>Środa</th>
                <th>Czwartek</th>
                <th>Piątek</th>
                <th>Sobota</th>
                <th>Niedziela</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lessonGroup in Model.Lessons.OrderBy(l => l.StartTime).ThenBy(l => l.Day).GroupBy(l => new { l.StartTime, l.EndTime }))
            {
                <tr>
                    <td>@lessonGroup.Key.StartTime.ToString("hh\\:mm") - @lessonGroup.Key.EndTime.ToString("hh\\:mm")</td>
                    @for (int dayOfWeek = 0; dayOfWeek < 7; dayOfWeek++)
                    {
                        var lessonForDay = lessonGroup.FirstOrDefault(l => GetAdjustedDay(l.Day) == dayOfWeek + 1);
                        <td class="position-relative">
                            @(lessonForDay != null ? lessonForDay.NameOfSubject : "")
                            @if (lessonForDay != null)
                            {
                                <div class="edit-button-container">
                                    <button class="btn btn-info comeback-btn" onclick="location.href='@Url.Action("Edit", "Calendar", new { lessonId= lessonForDay.LessonId })'">
                                        <i class="fa-solid fa fa-pencil"></i>
                                    </button>
                                </div>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
   

</body>

<style>
    table {
        border-collapse: collapse;
        width: 100%;       
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    .return-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .comeback-btn {
        border-radius: 50%;
    }

    .edit-button-container {
        position: absolute;
        top: 0;
        right: 0;
        transform: scale(0.65);
    }
</style>
