@model IEnumerable<FlowPanelApp.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />

</head>

<h1>Użytkownicy</h1>

<p>
    <a asp-action="CreateUser">
        <div class="float-left" style="padding-bottom: 5px;">
            <input type="button" class="btn btn-primary" value="Dodaj nowego użytkownika" />
        </div>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa użytkownika
            </th>          
            <th>
                Email
            </th>
            <th>
                Rola
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
                <td style="vertical-align:middle;">
                    @if (item.Role != "Admin")
                    {
                        <div class="float-right" style="padding: 5px">
                            <button class="btn btn-danger comeback-btn" onclick="location.href='@Url.Action("Delete", "User", new { UserId=item.UserId })'">
                                <i class="fa-solid fa fa-trash"></i>
                            </button>
                        </div>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
